apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: traefik

  labels:
    app.kubernetes.io/instance: traefik-traefik
    app.kubernetes.io/name: traefik
    app.kubernetes.io/managed-by: Helm

  annotations:
    metallb.io/ip-allocated-from-pool: default-pool
    metallb.universe.tf/allow-shared-ip: traefik-lb

spec:
  type: LoadBalancer

  selector:
    app.kubernetes.io/instance: traefik-traefik
    app.kubernetes.io/name: traefik

  ports:
    - name: web
      port: 80
      targetPort: web
      protocol: TCP

    - name: websecure
      port: 443
      targetPort: websecure
      protocol: TCP

  loadBalancerIP: 10.100.3.201
